:root {
    --open-sans: 'Open Sans', sans-serif;
    --faleway: 'Raleway', sans-serif;
    --magenta: #FB3B64;
    --blue: #08A6E4;
    --green: #55DFB4;
    --magenta-var: #EB476E;
    --blue-var: #07ACE6;
    --c-border: #00000029;
}